/*h1{
    color: black;
    background-color: blue;
    text-align: center;
    text-decoration: solid 30px;
    border: 3px solid black;
    padding-top: 10px;
padding-right: 20px;
padding-bottom: 15px;
padding-left: 25px;
text-shadow: 20px 10px;} */

div{
    background-color: bisque;
    box-sizing: border-box;
    text-align: justify;
    border: 30px 20px solid black;
    padding-right: 30px;
}
p{
    color: aquamarine;
    background-color: blueviolet;
    padding: 20px 30px 20px 40px;
    padding-block: 20px ;

}
h2{
    text-align: center;
    text-decoration: brown;
    color: brown;}
    .mode{
        text-align: center;
        color: brown;
    }
    .for{
        text-align: center;

        border:150px solid black;
        padding:200px 60px;
    }